.castList {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.castItem {
  list-style: none;
  text-align: center;
}

.castImage {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
