.notFound {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.link {
  color: #007bff;
  text-decoration: none;
  font-size: 20px;
}

.link:hover {
  text-decoration: underline;
}
